*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 font-family: Tajawal,sans-serif;
}
#toggle-button{
    position: relative;
    height: 29px;
    background-color: rgba(49, 65, 88,0.6);
    border-color: transparent;
    margin-top: 7px;
    
     
}
.fa-moon{
    position: absolute;
    right: 5px;
    top: 0px;
    width: 25px;
    height: 25px;
    color: #6366f1;
    background-color: #1d293d;
    display: flex;             
    align-items: center;        
    justify-content: center;    
    border-radius: 50%;        
}
.fornav i{
    width: 50px;
    height: 50px;
    background: linear-gradient(to left , rgb(139, 92, 246) ,#6366f1);
    line-height: 50px;
    font-size: 25px;
    border-radius: 15px;
    color: white;

}
.navbar{
    background-color: #0f172b;
    color: white;
    border-bottom: grey 1px solid;
}
.nav-item a{
    color: white;
}
.navbar-nav .nav-item .nav-link.active {
  color: rgb(99, 102, 241); 
  font-weight: bolder;
}

.navbar-toggler{
    color: white !important; 
    background-color: transparent; 
    border: transparent;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.img-box img {
    width: 40%;
    margin-top: 0;
    border-radius: 50%;
    border: 7px solid rgb(139, 92, 246);
    box-shadow: 0 0 20px 10px rgba(139, 92, 246, 0.5);
    position: relative;
    margin-top: 80px;
    z-index: 555;
    animation: forimg alternate 1s infinite;
}
.languages .fa-react{
    position: absolute;
    top: 15px;
    right: -10px;
    background-color: #1d293d;
    color: #38bdf8;
    width: 50px;
    height: 60px;
    font-size: 30px;
    padding-top: 15px;
    border-radius: 15px;
animation: jump alternate 2s infinite;
}
.languages .fa-figma{
    position: absolute;
    bottom: 40px;
    right: -10px;
    background-color: #1d293d;
    color: #e76e0a;
    width: 50px;
    height: 60px;
    font-size: 30px;
    padding-top: 15px;
    border-radius: 15px;
    z-index: 66666;
animation: jump alternate 2s infinite;
}
.languages .fa-code{
    position: absolute;
    top: 120px;
    right: 250px;
    background-color: #1d293d;
    color: #6366f1;
    width: 50px;
    height: 60px;
    font-size: 30px;
    padding-top: 15px;
    border-radius: 15px;
animation: jump alternate 1s infinite;
z-index: 6666;
}
.languages .fa-vuejs{
    position: absolute;
    top: 240px;
    right: 250px;
    background-color: #1d293d;
    color: #0bca4a;
    width: 50px;
    height: 60px;
    font-size: 30px;
    padding-top: 15px;
    border-radius: 15px;
animation: jump alternate 1.9s infinite;
z-index: 6666;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(15px);
    }
}

.img-box {
    width: 100%;
    margin-top: 50px;
    position: relative;
}
.img-box::before{
    position: absolute;
    content: "";
    left: 50%;
        top: 50%;
        width: 320px;          
        height: 320px;
        margin-top: 0;
        transform: translate(-50%, -50%);
    border: 4px solid rgb(139, 92, 246);
    border-radius: 100%;  
        margin-top: 60px;

}
@media (max-width: 768px) {
    .img-box {
        display: flex;
        justify-content: center; 
        align-items: center;    
        margin-top: 30px;
        height: 450px;         
    }
}
.img-box::after{
    position: absolute;
    content: "";
    left: 50%;
        top: 50%;
        width: 400px;          
        height: 400px;
    border: 4px dotted #8b5cf6;
    border-radius: 100%;  
    margin-top: 50px;
    
animation: round 0.5s linear infinite ;}
@keyframes round {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@keyframes forimg{
    from{
            box-shadow: 0 0 20px 10px rgba(139, 92, 246, 0.5);

        
    }
    to{
            box-shadow: 0 0 23px 13px rgba(139, 92, 246, 0.9);

    }
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(211, 236, 209, 0.7);
    }
    50% {
        box-shadow: 0 0 10px 10px rgba(211, 236, 209, 0.4);
    }
    100% {
        box-shadow: 0 0 20px 20px rgba(211, 236, 209, 0);
    }
}


.knowhim{
    color: white;
}
.motah {
    color: #00d492;
    background-color: rgba(0, 212, 146,0.3);
    width: 200px;
    height: 50px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    margin-top: 10px;
    border: 2px solid #00d492;
       

}
 .motah .fa-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #00d492;
    position: relative;
   
}

 .motah .fa-circle::before,
 .motah .fa-circle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(211, 236, 209, 0.5);
    transform: translate(-50%, -50%) scale(0.5);
    animation: wave 1s infinite;
}

 .motah .fa-circle::after {
    animation-delay: 1s; 
}

@keyframes wave {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.7;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0;
    }
}
.front{
    background-color: rgba(29, 41, 61,0.3);
    border: 1px #1d293d solid;
    width: 200px;
    height: 50px;
     padding: 10px;
    border-radius: 15px;
    color: white;
    margin-bottom: 30px;
}
.front i{
    background-color: rgb(139, 92, 246);
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 5px;
    line-height: 30px;
}
.knowhim h1{
    color: #8b5cf6;
    margin-bottom: 30px;
}
.btns{
    text-align: center;
    margin-top: 20px;

}
.btns button:first-child{
    width: 230px;
    height: 70px;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(99, 102, 241);
    color: white;
    border-color: transparent;
    transition: transform 0.1s ease-in-out;
    font-weight: bolder;
    margin-left: 10px;
}
.btns button:first-child:hover{
    background: linear-gradient(to left ,#6366f1, #f0747a);
    transform: translateY(-5px);
}
.btns button:first-child:hover i{
    transform: translateY(-5px);

}
.btns button:last-child{
    width: 230px;
    height: 70px;
    text-align: center;
    border-radius: 20px;
    background-color: #1d293d;
    border: 3px solid #314158
;
    color: white;
    
    transition: transform 0.1s ease-in-out;
    font-weight: bolder;
}
.btns button:last-child:hover{
     border: 1px solid #6366f1;
    transform: translateY(-5px);
    color: #6366f1;
}
.btns button:last-child:hover i{
    transform: translateY(-5px);
    color: #6366f1;

}
.typen{
    background-color: #1d293d;
    border: 1px solid #314158;
    width: 230px;
    height: 50px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 60px;
}
.typer{
    background-color: #1d293d;
    border: 1px solid #314158;
    width: 230px;
    height: 50px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-top: 20px;
        margin-bottom: 60px;

}
.typet{
    background-color: #1d293d;
    border: 1px solid #314158;
    width: 230px;
    height: 50px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-top: 20px;
        margin-bottom: 60px;

}
.typeta{
    background-color: #1d293d;
    border: 1px solid #314158;
    width: 230px;
    height: 50px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-top: 20px;
        margin-bottom: 60px;


}
.typer i{
    color: #38bdf8;
    transition: transform 0.5s ease-in;
}
.typer:hover i{
    transform: rotate(180deg)  translateY(-1px) ;
    
}
.typer:hover,
.typet:hover,
.typeta:hover {
border: 2px solid #38bdf8;    
}
.typen:hover{
    border: 2px solid white;    

}
.btn{
    background-color: #1d293d;
    color: aliceblue;
}
.settings-btn{
    position: fixed;
    right: -5px;           
    top: 50%;
    transform: translateY(-50%);
    background-color: #1d293d;
    color: aliceblue;
    width: 50px;
    height: 50px;
    border-radius: 15px 0 0 15px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.settings-btn i{
    font-size: 22px;
}
.settings-btn:hover,
.settings-btn:focus,
.settings-btn:active {
    background-color: #1d293d !important; 
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}
span{
    color: #6366f1;
    font-weight: bolder;
}
.contain i{
    color: #6366f1;
}
.contain{
    width: fit-content;
    height: 40px;
    background-color: #1d293d;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 20px;

}
.fa-rocket{
    color: #6366f1;

}
.dot1 i, .dot2 i , .dot3 i , .dot4 i{
    font-size: 8px;
}
.dot1 i{
    color: #6366f1;
}
.dot2 i{
    color: #8b5cf6;
}
.dot3 i{
    color: #6635d8;
}
.dot4 i{
    color: #38bdf8;
}
.ahmedtop :nth-child(1){
    font-size: 10px;
    color: red;
}
.ahmedtop :nth-child(2){
    font-size: 10px;
    color: yellow;
}
.ahmedtop :nth-child(3){
    font-size: 10px;
    color: green;
}
.ahmedtop{
    background-color: #1d293d;
    border-bottom: 1px solid gray ;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
   padding-right: 10px;
}
.code-box p:nth-child(1){
    color: #314158;
}
.code-box p:nth-child(2){
    color: rgb(194, 45, 194);
}
.code-box p:nth-child(3) ,.code-box p:nth-child(4) ,.code-box p:nth-child(5) ,.code-box p:nth-child(6)
,.code-box p:nth-child(7) ,.code-box p:nth-child(8) ,.code-box p:nth-child(9),.code-box p:nth-child(11){
    color: #fdc700;
}
.code-box p:nth-child(12) ,.code-box p:nth-child(13) ,.code-box p:nth-child(14) ,.code-box p:nth-child(15){
    color:rgb(97, 212, 247); 
}
.codee-box{
    border: 2px solid gray;
     border-radius: 15px; 
}
.codee-box:hover{
    box-shadow: 0 0 20px 10px rgba(255, 255, 255,0.3);
    transform: translateY(-4px);
}
.end{
    background-color: #1d293d;
    width: 160px;
    height: 90px;
    border-radius: 15px;
    border: 1px solid #314158;
    margin-top: 30px;
    text-align: center;
    padding-top: 20px;
}
.end1{
    background-color: #1d293d;
    width: 160px;
    height: 90px;
    border-radius: 15px;
    border: 1px solid #314158;
    margin-top: 30px;
    text-align: center;
    padding-top: 20px;
}
.end1 h5{
    color: rgb(102, 53, 216);
    font-weight: bolder;
}
.end h5{
    color: rgb(139, 92, 246);
    font-weight: bolder;
}
.end1 p{
    color: #586d8b;
}
.end1:hover{
        border: 1px solid #6635d8;

}
.end p{
    color: #586d8b;
}
.end:hover{
        border: 1px solid #6635d8;

}
.icons{
    display: flex;
    gap: 15px;
    justify-content: flex-start; 
    direction: ltr;
}


.icons i{
    width: 50px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 30px;
background-color: #1d293d;
border: 1px solid #314158;
line-height: 40px;
margin-top: 20px;
}
.icons  .fa-dribbble:hover{
    background-color: #fb2c36
;
}
.icons .fa-twitter:hover{
    background-color: #38bdf8;
}
.icons .fa-linkedin:hover{
        background-color: #1495cc;

}
.icons .fa-figma:hover{
    background-color: #fb2c36;
}
.progress-bar{
       background: linear-gradient(to left ,#6635d8 ,#f16399)
;
    
   
}

.hey{
    border: 1px solid #314158;
    padding: 15px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: transform 1s ease-in-out;
}
.progresss i{
    font-size: 30px;
    color: #6635d8;
    margin-top: 5px;
}
.progress{
    height: 10px;
}
.hey:hover{
     border: 1px solid #6635d8;
     transform: scale(1.05);
}
.lang{
     border: 1px solid #314158;
     width: 300px;
     height: 120px;
     text-align: center;
     padding-top: 30px;
     margin-bottom: 30px;
     margin-left: 10px;
     border-radius: 15px;
}
    .projects-section .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: rgb(111, 66, 193); 
    color: #fff !important;
    box-shadow: 0px 5px 9px rgba(102, 53, 216,0.7);
}
.projects-section .nav-link{
    color: white !important;
    width: fit-content;
    background-color: #314158;
    border: 1px solid #586d8b;
    margin-left: 15px;
    font-weight: bolder;
}
 .projects-section .nav-link:hover{
    background-color: #29384d;
}
.twoicons i{
     width: 50px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 30px;
background-color: rgba(29, 41, 61,0.7);
border: 1px solid #314158;
line-height: 40px;
margin-top: 20px;
color: white;
font-size: 15px;
&:hover{
    background-color: #6366f1;
}

}
.smallp p{
      width: fit-content;
    height: 30px;
   padding-left: 10px;
   padding-right: 10px;
    border-radius: 10px;
background-color:rgba(99, 102, 241,0.4);
color: rgb(99, 102, 241);
text-align: center;
font-weight: bolder;
overflow: hidden;

}
.threepara p{
    width: fit-content;
    height: 30px;
   padding-left: 10px;
   padding-right: 10px;
    border-radius: 10px;
background-color:rgba(167, 167, 184, 0.3);
color: white;

}
.card{
    border: 4px solid #314158;
    border-radius: 15px;
    height: 600px;
    overflow: hidden;
}

.card:hover{
    border-color: #6635d8;
}
.img-wrapper{
    position: relative;
    height: 390px;            
    overflow: hidden;     
    
}

.img-wrapper img{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}

.card:hover .img-wrapper img{
    transform: scale(1.1);
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
}

.img-wrapper:hover::after{
    content: "";
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.9),
        transparent
    );
    pointer-events: none;
}
.card-title{
    font-weight: bolder;
}
.card-text{
    color: #586d8b;
}
.midbutton{
    width: 300px;
    height: 70px;
    text-align: center;
    border-radius: 20px;
    background-color: #6366f1;
    color: white;
    border-color: transparent;
    font-weight: bolder;
}
.fa-rocket{
    color: white;   
    font-size: 24px;
}

.timeline {
  position: relative;
  width: 100%;
  padding: 100px 0;
  background: radial-gradient(circle at bottom, #281541, #020617);
}
.timeline-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 3px;
  background: linear-gradient(to bottom, #6366f1, #8b5cf6);
  transform: translateX(-50%);
}
.timeline-item {
  position: relative;
  width: 50%;
  padding: 40px;
}

.timeline-item.right {
  right: 50%;
}
.timeline-item .dot {
  position: absolute;
  top: 120px;
  right: -10px;
  width: 18px;
  height: 18px;
  background: #8b5cf6;
  border-radius: 50%;
  box-shadow: 0 0 15px #8b5cf6;
}

.timeline-item.left .dot {
  right: 665px;
top: 120px;}
.content {
  background: rgba(15, 23, 43, 0.85);
  border: 1px solid rgba(255,255,255,0.08);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 25px;
  color: white;
  box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}
.date {
  background: #8346e5;
  padding: 6px 14px;
  border-radius: 12px;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 10px;
  color: #281541;
}
.con i{
    color:rgb(131, 70, 229) ;
    font-size: 27px;
}
@media (max-width: 768px) {
  .timeline-line {
    left: 20px;
  }

  .timeline-item {
    width: 100%;
    padding-left: 60px;
  }

  .timeline-item.left,
  .timeline-item.right {
    left: 0;
    text-align: left;
  }

  .timeline-item .dot {
    left: 12px;
  }
}
.content p{
    color: rgb(79, 70, 229);
    font-weight: bold;
}
.content h3{
    font-weight: bolder;
}
.content h6{
    color: #29384d;
}
.btn-close{
    background-color: #314158;
    width: 20px;
    height: 20px;
    color: #020617;
    line-height: 20px;
    border-radius: 50%;
}
.offcanvas{
    background-color: #0f172b;
    color: white;
}
.offcanvas-header{
    border-bottom: 1px solid #29384d;
}


.font-option h2{
    font-weight: bolder;
    width: fit-content;
}


.font-option p{
color: rgb(131, 117, 117);
}
.font-option{
    border: 2px solid #586d8b;
    width: 300px;
    height: 100px;
    margin-top: 30px;
    padding: 20px 10px;
    border-radius: 15px;
    cursor: pointer;
}

.check{
    display: none;
    color: #4f46e5;
}

.font-option.active{
    border: 2px solid #4f46e5;
}

.font-option.active .check{
    display: inline-block;
}

.color-1{
    background: linear-gradient(135deg, rgb(99, 102, 241), rgb(139, 92, 246));
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #314158;
}
.color-2{
background: linear-gradient(135deg, rgb(236, 72, 153), rgb(249, 115, 22));    width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #314158;
    cursor: pointer;
    
}
.color-3{
    background: linear-gradient(135deg, rgb(16, 185, 129), rgb(5, 150, 105));
        width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #314158;
}
.color-4{
background: linear-gradient(135deg, rgb(59, 130, 246), rgb(6, 182, 212));        height: 50px;
   width: 50px;
border-radius: 50%;
    border: 2px solid #314158;
}
.color-5{
background: linear-gradient(135deg, rgb(239, 68, 68), rgb(244, 63, 94));   
 width: 50px;
    height: 50px;
border-radius: 50%;
    border: 2px solid #314158;
}
.color-6{
background: linear-gradient(135deg, rgb(239, 68, 68), rgb(244, 63, 94));   
 width: 50px;
    height: 50px;
border-radius: 50%;
    border: 2px solid #314158;
}
.color-7{
    background: linear-gradient(135deg, rgb(245, 158, 11), rgb(234, 88, 12));
     width: 50px;
    height: 50px;
border-radius: 50%;
    border: 2px solid #314158;
}
.btnColor button{
    width: 240px;
    height: 50px;
    border-radius: 15px;
    background-color: #314158;
    text-align: center;
    border: transparent;
    color: rgb(218, 208, 208);
}
.btnColor {
    text-align: center;
    margin-top: 30px;
}
.btnColor:hover button{
    background-color: red;
    color: white;
}
.color-1:hover,
.color-2:hover,
.color-3:hover,
.color-4:hover,
.color-5:hover,
.color-6:hover ,
.color-7:hover {
    transform: scale(1.1);
}
.fa-circle-check{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #4f46e5;
    display: none;
}
.Alex1.active .fa-circle-check {
  display: flex;
}
.card1{
    border: 4px solid #314158;
    border-radius: 15px;
    width: 400px;
    margin-top: 30px;
    margin-right: 20px;
   
}

.card1:hover{
    border-color: #6635d8;
}
.card1-img-top{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.fa-star{
    color: #fdc700;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-size: 12px 12px;
    background-color: transparent;
    border: 2px #1d293d solid;
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
    background-color: rgb(79, 70, 229);
}

